{% extends "base_accounts.html" %}

{% block content %}

<form class="col-md-6 text-light" method="POST" action=".">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
      placeholder="{{ field.label }}" name="{{ field.name }}" />
  </div>
  {% if field.errors %}
  <span style="color: red">{{ field.errors }}</span>
  {% endif %}
  {% endfor %}
  <button type="submit" class="btn btn-warning">로그인</button>
</form>

{% endblock %}
