{% extends "base.html" %} {% block base_header %} {% block header %}
<style>
  .container {
    max-width: 1280px;
  }

  #container-main {
    height: 100vh;
  }
</style>

{% endblock %} {% endblock %} {% block base_content %}
<div id="container-main" class="container px-0">
  <div id="stickies" class="sticky-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">
        <div class="text-warning">MovieReco!</div>
      </a>
      <button
        class="navbar-toggler ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#main-navbar"
        aria-controls="main-navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto">
          <li id="home" class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">홈</a>
          </li>
          <li id="evaluate" class="nav-item">
            <a class="nav-link" href="{% url 'evaluate' %}">영화 평가</a>
          </li>
          <li id="eval_record" class="nav-item">
            <a class="nav-link" href="{% url 'eval_record' %}">내 평점</a>
          </li>
          <li id="about" class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">소개</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if request.session.user %}
          <li id="logout" class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
          </li>
          {% else %}
          <li id="login" class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">로그인</a>
          </li>
          <li id="register" class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">회원가입</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
  {% block content %} {% endblock %}
</div>

<script>
  $('#stickies .navbar li').each(function () {
    if (
      '{{ request.path }}' ==
      $(this)
        .find('a')
        .attr('href')
    ) {
      $(this).toggleClass('active')
    }
  })
</script>

{% endblock %}
