{% extends "base_core.html" %} {% block header %} {% load static %}

<style id="style-lazy">
  .lazy-load {
    background-image: none !important;
  }
</style>

<style>
  .card-clickable {
    cursor: pointer;
  }

  .card-container {
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    min-height: 220px;
    margin-bottom: 10px;
  }

  @media all and (min-width: 768px) {
    .card-container {
      min-height: 360px;
    }

    .container-sim {
      height: 60vh;
    }
  }
</style>

<script src="{% static 'cards.js' %}"></script>
<script src="{% static 'data-loader.js' %}"></script>
<script>
  const movieBaseUrl = "{% url 'movie' %}";
  const recoListUrl = "{% url 'recommendation' %}";

  $(document).ready(() => {
    const sticky = `<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        <h6 class="mb-0"> 제가 추천해 드리는 영화 목록이에요. 평가를 많이 해주실수록 좀 더 취향에 맞는 추천이 가능해요.</h6>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-toggle="tooltip" data-placement="top" title="닫기">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>`;
    $("#stickies").append(sticky);

    eventManager.activateAll();

    $.ajax({
      dataType: "json",
      url: recoListUrl + "100/",
      success: function(response) {
        const contLoader = new CardContainerLoader(
          "#container-main",
          3,
          1,
          ArrowedCardContainer
        );
        contLoader.initialize(JSON.parse(response));
      }
    });
  });
</script>
{% endblock %} {% block content %}

<div id="container-modal"></div>

{% endblock %}
