{% extends "base_core.html" %} {% block header %}
<style></style>
{% endblock %} {% block content %} {% load static %}

<div class="pt-3 px-3 bg-light">
  <h4 class="pt-3 pb-1 ml-2">CREDITS</h4>
  <img
    src="{% static 'logos/tmdb_sq.png' %}"
    height="75"
    align="right"
    class="mx-1"
  />
  <ul>
    <li>
      <p>
        본 사이트는
        <a href="https://www.themoviedb.org/documentation/api/">TMDb API</a>를
        사용합니다. 단, TMDb가 어떠한 보증 혹은 인증을 하지는 않습니다. ("This
        product uses the TMDb API but is not endorsed or certified by TMDb.")
      </p>
    </li>
    <li>
      <p>
        머신 러닝에 사용된 영화 평점 및 태그 데이터는
        <a href="https://grouplens.org/datasets/movielens/"
          >The MovieLens Datasets</a
        >에서 추출하였습니다.
      </p>
    </li>
    <li>
      <p>
        영화 데이터의 일부(감독, 배우, 영문제목 등)는
        <a href="https://www.imdb.com/interfaces/">IMDb Datasets</a>에서
        가져왔습니다.
      </p>
    </li>
    <li>
      <p>
        '별점 주기' 스크립트는
        <a href="https://github.com/nashio/star-rating-svg/">star-rating-svg</a
        >를 개조하여 사용하였습니다.
      </p>
    </li>
  </ul>

  <h4 class="pt-3 pb-1 ml-2">웹 개발 도구</h4>
  <ul>
    <li>
      <p>백엔드: Django, Django REST framework, SQLite, etc</p>
    </li>
    <li>
      <p>프론트엔드: jQuery, Bootstrap</p>
    </li>
  </ul>

  <h4 class="pt-3 pb-1 ml-2">ML 알고리즘</h4>
  <p class="mx-3">
    추천 시스템은 MovieLens의 평점 및 태그 데이터를 기반으로 작동하며, 복수의
    알고리즘이 함께 활용됩니다.
    <a href="https://blog.naver.com/hermercur/221836101047" target="_blank"
      >더 자세한 내용은 블로그에...</a
    >
  </p>
  <ul>
    <li>
      <p class="mx-3">
        평점 예측: matrix factorization 기반의 협업 필터링 시스템을 NumPy로
        구현하여 사용합니다. 유저 평점 데이터를 바탕으로 전체 영화에 대한 예상
        점수를 계산합니다.
        <a href="https://blog.naver.com/hermercur/221803243551" target="_blank"
          >더 자세한 내용은 블로그에...</a
        >
      </p>
    </li>
    <li>
      <p class="mx-3">
        비슷한 영화 찾기: 영화 태그 데이터를 feature로 활용하여 영화 간 cosine
        similarity를 계산합니다. 유저가 직접 '비슷한 영화 보기' 버튼을 눌렀을
        때뿐만 아니라 영화 추천에도 활용됩니다.
        <a href="https://blog.naver.com/hermercur/221801410506" target="_blank"
          >더 자세한 내용은 블로그에...</a
        >
      </p>
    </li>
    <li>
      <p class="mx-3">
        영화 자동 분류: 추천 영화 목록은 hierarchical clustering을 통해 자동으로
        분류됩니다. 먼저 비슷한 영화끼리 같은 그룹으로 묶은 뒤, 각 그룹을
        대표하는 장르를 추출하여 유저에게 표시해 줍니다.
      </p>
    </li>
  </ul>

  <h4 class="pt-3 pb-1 ml-2">설계</h4>
  <div class="mx-3 mb-4">
    <p>
      이 프로젝트의 핵심이 되는 MovieLens 데이터에는 62,000개 영화에 대한
      162,000명 유저들의 평점 및 태그 데이터가 들어 있습니다. 머신러닝 모델의
      학습에 활용할 수 있는 데이터입니다. 이 중에서 실제 어플리케이션에 사용하기
      적합한 9,500개 영화만 골라냅니다.
    </p>
    <p>
      그리고 그 영화들에 해당하는 영화 정보(제목, 포스터 이미지, 장르 등)를 IMDb
      혹은 TMDb 같은 영화 정보 사이트에서 가져오는데요. 미리 구해놓을 수 있는
      데이터는 DB에 미리 입력해 놓고, 그럴 수 없는 데이터는 외부 API로부터
      실시간으로 가져옵니다(단, 캐싱 목적으로 일정 기간 저장해 놓습니다).
    </p>
    <p>
      이런 특성 때문에 2019년 12월까지 개봉된 영화들만 포함이 되어 있고, 그 이후
      개봉된 영화들은 나오지 않습니다.
    </p>
    <img
      src="{% static '/design.png' %}"
      class="rounded mx-auto d-block"
      style="max-width: 100%; max-height: 400px;"
    />
  </div>

  <h4 class="pt-3 pb-1 ml-2">개발 목표</h4>
  <div class="mx-3 mb-4">
    <p>
      이 사이트는 <u>웹 개발 겸 데이터 사이언스 프로젝트</u>로 만들기
      시작했습니다. 추천 알고리즘을 구현해서 머신러닝용 데이터에 적용해 보는 게
      첫 번째 목표였고, 추천된 영화에 대한 정보를 표시할 수 있도록 웹
      어플리케이션을 구축하는 게 두 번째 목표였습니다.
    </p>
    <p>
      머신러닝 알고리즘을 적용할 때는 엔지니어링 측면을 많이 고려했는데요.
      저사양 웹서버에서 구동된다는 점을 고려해서 "최소한의 연산으로 적당한
      성능의 추천을 제공하자"라는 모토로 추천 시스템을 설계하였습니다. PCA로
      데이터의 차원을 축소하거나, 일부 계산값을 DB에 미리 저장해놓는 등의
      방법으로 연산량을 최소화하였습니다.
    </p>
    <p>
      백엔드 개발을 할 때는 주로 데이터베이스 설계 과정을 연습해 보려고
      했습니다. 데이터를 어떤 형식으로 저장할 것인지, 테이블을 어디까지 정규화할
      것인지, '데이터 중복 최소화 vs 쿼리 단순화' 사이에서 어느 쪽을 선택할
      것인지 등이 주된 고민이었습니다.
    </p>
    <p>
      프론트엔드 개발은 사실 계획 없이 급하게 배워서 작업한 부분이라, 깊게
      고민하지는 못 했습니다. 디자인적인 측면에는 비중을 두지 않았고 다만,<br />
      1) JavaScript를 통해 DOM 오브젝트를 조작하는 방법,<br />
      2) ajax의 비동기적 특성 이해하고 활용하기<br />
      3) element 삽입 및 이미지 로딩 lazy하게 처리하기<br />
      등을 주로 연습해 보려고 했습니다.
    </p>
  </div>
  <h4 class="pt-3 ml-2">만든이: 김창규</h4>
  <div class="mx-3 mt-2 mb-5 pb-5">
    <h5>aneewe@gmail.com</h5>
    <h5>
      <a href="https://cgkim412.github.io/" target="_blank">GitHub Page</a>
    </h5>
  </div>
</div>

{% endblock %}
